# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/

# Environment
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
coverage/

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# APK and build artifacts
*.apk
*.aab
*.ipa
